.messages {
  margin: 0;
  padding: 12px 0 0 0;
  list-style: none;
  width: 100%;
  height: calc(100% - 60px - 12px);
  position: absolute;
  top: 60px;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  contain: layout;
  will-change: transform;
}
