figure {
  margin: 0;
}

.author {
  display: flex;
  align-items: center;
}

.author-info__name {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  line-height: 1.2;
}

.author-info__last-update-message {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.702);
}

.author__photo {
  display: block;
  margin: 0 16px 0 0;
  border-radius: 100%;
  width: 47px;
  height: 47px;
}
