html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  background-color: #eee;
}

.header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0 18px;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #673ab7;
  box-shadow: 0 4px 6px 0px rgba(0, 0, 0, .2);
}

.header__content {
  display: flex;
  align-items: center;
}

.header__menu {
  fill: #fff;
  width: 28px;
  height: 18px;
  text-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
}

.header__title {
  margin: 0 0 0 18px;
  text-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
  -webkit-font-smoothing: antialiased;
  font-size: 26px;
  font-weight: 500;
  color: #fff;
  text-align: left;
}
