.message {
  box-sizing: border-box;
  width: 100%;
  padding: 0 12px;
  position: absolute;
  z-index: 1;
  border-radius: 2px;
  transition: transform 100ms ease 0s, opacity 100ms ease 0s;
  opacity: 1;
  contain: layout;
  will-change: transform;
}

.message__item {
  margin: 0 0 8px 0;
  padding: 24px 18px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, .2);
}

.message__content {
  margin: 12px 0 0 0;
  font-size: 14px;
  line-height: 20px;
}
